name: testing

on: 
  push: 
    branches:
      - main

jobs:
  test: 
    runs-on: ubuntu-latest
    steps:
      - name: cloning the code 
        uses: actions/checkout@v3

      - name: echo hi
        run: echo "hi"